past3dev.com {
    # other directives
        filemanager /filesystem /home/ubuntu
	expvar
	proxy / localhost:8001
	on startup systemctl restart past3
	root  /home/ubuntu/server/past3
	errors ./errors.log
	git {
		repo github.com/tonyalaribe/past3
		interval 600
		path src
		then systemctl restart past3

	}

}

past3.com.ng {
	root  /home/ubuntu/server/past3
	proxy / localhost:8001
}

chronograph.past3dev.com {
	root /home/ubuntu/server/past3
	proxy / localhost:8888
}
