<section class="tc pa3 pv5 pv6-ns">
   <h2 class="f2 f2-ns  avenir dib w-60-ns">
       Contract us to build something great for you.
   </h2>
   <br/>
   <a class="link code  db dib-ns pa1" target="_blank" href="https://calendly.com/tonyalaribe/30min">hello@past3.tech</a>
</section>
<section class="pa5-ns dn dt-ns code f6 lh-copy silver">

    <div class="w-50 w-20-ns dtc-ns v-top ">
        <nav>
            <h2 class="baskerville fw1 black {{ if . }} white{{end}}">About Us</h2>
            <a class="db pv1 " href="/">HOME</a>
            <a class="db pv1" href="/works/">OUR PORTFOLIO</a>
        </nav>
    </div>
    <div class="w-50 w-20-ns dtc-ns v-top">
        <nav>
            <h2 class="baskerville fw1 black {{ if . }} white{{end}}">Info</h2>
            <a class="db pv1">Terms of business</a>
            <a class="db pv1">Rate</a>
        </nav>
    </div>
    <div class="w-50 w-20-ns dtc-ns v-top">
        <h2 class="baskerville fw1 black {{ if . }} white{{end}}">Contact</h2>
        <a href="https://calendly.com/tonyalaribe/30min" class="db pv1 link">hello@past3.tech</a>
        <hr class="b--black-025">
        <span class="db pv1">Past 3 Technologies UG</span>
        <span class="db pv1">Gruntaler Str. 18, 13357 Berlin, Germany</span>
    </div>

    <img src="{{ if . }}/img/past3whitelogo.png{{else}}/img/past3logo.png{{end}}"  alt="Past 3 Software and Design Studios logo" class="w-50 fr dtc-ns v-top" style="height:65px; width:auto"/>
</section>
<section class="pt6 pa3  dn-ns code f6 lh-copy silver">
    <div class=" bb pv2 b--black-10 cf">
        <a href="#body" class="link fl dib pv4">Back to top</a>
        <img src="{{ if . }}/img/past3whitelogo.png{{else}}/img/past3logo.png{{end}}"  alt="Past 3 Software and Design Studios logo" class="fr pv3" style="height:50px"/>
    </div>
    <div class="pv3">
      <a href="https://calendly.com/tonyalaribe/30min" class="db pv1 link">hello@past3.tech</a>
    </div>

</section>
<section class="pt2 pa3 silver f6 avenir lh-copy tc ">
     <div class="pv3 bt b--black-10 lh-solid avenir">
         <p>© 2016 Past 3 Design Studios&nbsp;  |  &nbsp;Made with <span class="red f5">♡</span> in Nigeria</p>
     </div>
</section>
