<nav class="code f6  w-100 cf " >
   <div class="dib fl pa3 pl5-ns">
       <a href="/"> <img src="{{ if . }}/img/past3whitelogo.png{{else}}/img/past3logo.png{{end}}" alt="Past 3 Software and Design Studios logo" style="height:50px;width:auto"/></a>
   </div>
   <div class="fr pa4-ns pr5-ns  dn dib-ns">
       <a class="link pa1 ph3" href="/">Home</a>
       <a class="link pa1 ph3" href="/works/">Work</a>
       <!--<a class="link pa1 ph3" href="/labs/">Labs</a>-->
       <a class="link pa1 ph3" href="https://medium.com/past-3-studio">Blog</a>
       <a class="link bb  pb1" href="mailto:hello@past3.com.ng">WORK WITH US</a>
   </div>
   <div  id="open-menu-button" class=" dn-ns fixed right-0 black pv3 z-5" style="transform: rotate(90deg);
           transform-origin: left top 0; margin-top:15px;margin-right:-25px; ;cursor: pointer;">
       <a class="code f6">MENU +</a>

   </div>
    <div  id="close-menu-button" class="dn dn-ns fixed right-0 white pv3 z-5" style="transform: rotate(90deg);
           transform-origin: left top 0; margin-top:15px;margin-right:-35px; ;cursor: pointer;">
       <a  class="code f6">CLOSE ×</a>

   </div>
</nav>
