<section id="menu-overlay" class="vh-100 w-100 fixed bg-black white pa4 z-4 dn">
    <nav class="f3 silver lh-copy avenir fw1">
        <a class="db pv2 link" href="/">Home</a>
        <a class="db pv2 link" href="/works/">Work</a>
        <!--<a class="db pv2 link" href="/labs/">Labs</a>-->
        <a class="db pv2 link" href="https://medium.com/past-3-studio">Blog</a>
        <a class="db pv2 link" href="mailto:hello@past3.com.ng">Contact</a>
    </nav>
    <div class="pv3 code fw1">
      <span class="db pv1 link" href="tel:2348161115653">+234 816 111 5653</span>
      <span class="db pv1 link" href="mailto:hello@past3.com.ng">hello@past3.com.ng</span>
    </div>

</section>
